* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: auto 1fr auto / 1fr auto;
    /* padding: 0 64px; */
}




:root {
    --primary-color: #35605A;
    --secondary-color: #D8E4FF;
    --accent-color: #000000;
    --accent-color-2: #D8E4FF;
    --nav-background-color: #1C2924;

    --font-family-figtree: 'Figtree', Tahoma, sans-serif;
    --font-family-inconsolata: 'Inconsolata', monospace;

}

p {
    font-family: var(--font-family-inconsolata);
    font-size: large;
    font-weight: 400;
}

h3 {
    font-family: var(--font-family-figtree);
    color: var(--primary-color);
}
a {
    text-decoration: none;
    color: white;

}

li {
    list-style: none;
}


header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;

}

header #course-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    font-family: var(--font-family-figtree);
    width: 100%;
}

#course-title span {
    display: block;
    padding-left: 10px;
    color: #62B6CB ;
}
.navigation  {
    width: 100%;
}

.navigation .nav-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-background-color);
    height: 80px;

    font-family: var(--font-family-figtree);
    text-transform: uppercase;
    

}

.navigation .nav-link li:hover {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

main {
    width: 80%;
    display: flex;
    align-self: center;
    justify-self: center;

}
main .about-me  {
    grid-column: 1 / 2;
    border: 1px solid black;
    margin: 20px;
    border-radius: 2rem;

}

.dev-resources {
    grid-column: 2 / 3;
    border: 1px solid black;
    margin: 20px;
    width: 100%;
    border-radius: 2rem;

}
.dev-resources a {
    color: black;

}

.dev-resources h2,
.about-me h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    padding: 16px;
    color: var(--accent-color-2);

    font-family: var(--font-family-figtree);
    font-size: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

.dev-resources .resources-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px 24px;
    padding: 0 32px;
}

.resources-list li {
    padding-bottom: 12px;

    font-family: var(--font-family-inconsolata);
    font-weight: 400;
    font-size: 18px;
    list-style-type: disc;
}

.about-me .about-me__info{
    display: flex;
    margin: 2rem;
}

.about-me .profile-picture {
    float: right;
    width: 150px;
    margin-left: 20px;    /* adds space between text and image */
    border-radius: 10px; 
}

.about-me .country-info {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-flag__name {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
}

.country-flag__name h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: #4CAF50 2px solid;
}

.country-flag__info {
    display: flex;
    align-items: center;
    text-align: center;
}

.country-flag__info .country-flag {
    width: 200px;
    margin-right: 20px;
    border: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;


    background-color: var(--primary-color);
    color: var(--accent-color-2);
    text-align: center;
    grid-column: 1 / 3;
    margin-top: 20px;
    padding: 2rem;
}

