@media screen and (min-width: 768px){
    body {
        max-width: 1200px;
        width: 100%;
    }
    header {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 4rem;
    }

    header div {
        grid-column: 1 / 2;
    }

    nav {
        visibility: visible;
        display: block !important;
    }

    nav.open {
        display: block;
        position: static;
        grid-column: 2 / 3;
    }

    nav ul {
        position: static;
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        background: none;
    }

    nav ul li {
        padding: 0;
        flex-direction: row;
        background: none;
    }

    nav ul li:hover {
        background-color: var(--color-taupe);
        cursor: pointer;
        color: var(--color-nav-background);
        padding: 0 2rem;
    }

    /* Hide hamburger open/close */
    header .show-menu::after,
    header .remove-menu::after {
        content: "";
    }

    .main-content_img-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }

    .temple-card img {
        height: 200px;
    }
    
    .temple-info {
        padding: 1rem;
    }
    
    .temple-info h3 {
        font-size: 1.2rem;
    }
    .temple-info table {
        width: 100%;
        display: flex;
    }
    
    .temple-info th,
    .temple-info td {
        font-size: .8rem;
        padding: 5px 0;
    }


}