* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff0000;
    --secondary-color: #008000;

    --primary-text-color: #ffffff;

    --heading-font: Georgia, serif;
    --body-font: Arial, san-serif;
}

body {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
}

h1,
h2 {
    font-family: var(--body-font);
}

header,
footer {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--primary-color);
}


header h1 {
    justify-self: center;
    color: var(--primary-text-color);
}

main {
    background-color: var(--primary-color);
}

.main-hero-img {
    width: 100%;
    height: auto;
    margin-top: .8rem;
}

.main-hero-img picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.country-data,
.weather-data {
    background-color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.weather-data .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

table {
    margin: 0 auto;              
    border-collapse: separate;   
}

th {
    text-align: right;          
    padding: 0 0.5rem;
}

td {
    text-align: left;            
    padding: 0 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary-text-color);
}



/* website responsiveness */

 @media screen and (min-width: 750px) {

    .main-hero-img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .country-data,
    .weather-data {
        position: absolute;
        background-color: rgba(255, 255, 255, .7);
        width: 300px;
        height: auto;
        padding: 1rem;
        padding-top: 3.5rem;
    }

    .heading {
        background-color: var(--secondary-color);
        display: flex;
        justify-content: flex-start;
        padding: .5rem 1.5rem;
        color: var(--primary-text-color);
        position: absolute;
        top: .5rem;
        left: -1rem;
    }
    
    .country-data {
        top: 8rem;
        left: 3rem;
    }
    table {
        margin-top: 1.7rem;
    }

    
    .weather-data .heading h2::after {
        content: "☀️";
        margin-left: 10px; 
        font-size: 1em; 
    }

    .weather-data {
        bottom: 1rem;
        right: 2rem;
    }

    .weather-data .heading {
        flex-direction: row;
    }

    .weather-data .heading img {
        visibility: hidden;
    }

 }