* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #F0F4EF;
    --color-nav-background: #0D1821;
    --color-card: #D9DCE1;
    --color-taupe: #B4CDED;
    --color-heading: #020202;
    --color-text: #BFCC94;
    --color-gold: #D4AF37;
    --color-text-accent: #fff;

    --font-heading: "Cinzel", serif;
    --font-body: "Lora", serif;
    --font-accent: "Great Vibes", cursive;
}

header,
footer {
    background-color: var(--color-nav-background);
    color: var(--color-text-accent);
}

body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    justify-self: center;
    max-width: 768px;
    width: 100%;
    padding: 1rem auto;
}

h2 {
    font-family: var(--font-heading);
    color: var(--color-heading);
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;

}
header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    font-size: 1.5rem;
    color: var(--color-gold);
}
nav {
    display: none;
}

nav.open {
    display: block;
}

nav ul {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: var(--color-nav-background);
}

header nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    padding: 0.7rem 0;
    gap: 1rem;
    list-style-type: none;
}

nav ul li:hover {
    background-color: var(--color-taupe);
    cursor: pointer;
    color: var(--color-nav-background);
}

header .show-menu::after {
    content: "☰";
    font-size: 1.5rem;
    color: var(--color-text);

   
}
header .remove-menu::after {
    content: "✕";
    font-size: 1.5rem;
    color: var(--color-text);

   
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.main-content_img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.main-content_card {
    background-color: var(--color-card);
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content_card img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    background-size: contain;
}

.main-content_card figcaption {
    color: #333;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 1rem;
    gap: 0.9rem;
    padding: 1rem;
}